<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet"
              href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/global.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/full-width-pics.css') }}">
    </head>
    <body>
        {#<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">#}
            {#<div class="container">#}
                {#<div class="navbar-header">#}
                    {#<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">#}
                        {#<span class="sr-only">Toggle navigation</span>#}
                        {#<span class="icon-bar"></span>#}
                        {#<span class="icon-bar"></span>#}
                        {#<span class="icon-bar"></span>#}
                    {#</button>#}
                {#</div>#}
                {#<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
                    {#<ul class="nav navbar-nav">#}
                        {#<li>#}
                            {#<a href="#">About</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#">Services</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#">Contact</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</div>#}
            {#</div>#}
        {#</nav>#}

        <header class="image-bg-fluid-height">
            <img class="img-responsive img-center logo" src="{{ asset('assets/images/hro-logo.png') }}" alt="" style="max-height: 150px;max-width: 150px;">
        </header>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="section-heading">Aan de slag met continuous delivery!!</h2>
                        <date>{{ "now"|date("m/d/Y") }}</date>
                        <p class="lead section-lead">Continuous delivery is een softwareontwikkelmethode die gericht is op ideeën zo snel en efficiënt mogelijk in productie te krijgen.</p>
                        <p class="section-paragraph">Bij menig organisatie is het uitrollen van software een tijdrovende, stressvolle en bovenal kostbare klus. Wanneer software eenmaal in productie is, komen vaak nog fouten boven water die een nieuwe uitrol noodzakelijk maken. Een onrustige vicieuze cirkel onder druk. Een deployment voelt voor veel organisaties aan als een onbetrouwbare en risicovolle handeling.</p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>form</p>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Lars Hoevenaar 2017</p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
